
@{
    ViewBag.Title = "Error";
}

    <h2>Sorry, We have technical difficulties!</h2>

<div class="form-control">
    <p>We are having some technical difficulties, please contact to administrator.</p>
</div>

